body {
  background-color: #004;
  color: #fff;
  text-align: center;
}

.container {
  width: 95%;

  background-color: #000;
  margin: 64px auto;

  border-radius: 16px;
}

h1 {
  padding: 32px;
}

.resultado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rgb-inputs {
  width: 90%;
  margin: 16px auto;

  border-radius: 16px;
  background-color: #000;
}

.rgb-transform {
  margin-top: 32px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-color: #000;
}

.rgb-result {
  width: 200px;
  height: 200px;
  margin: 16px auto;

  background-color: #000;
  border: 1px solid #fff;

  margin-bottom: 32px;

  display: flex;
  justify-content: center;
}

.rgb-result p {
  display: flex;
  justify-content: center;
  align-self: center;

  font-size: 24px;
}

.red,
.green,
.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 16px;
}

p {
  font-size: 18px;
  font-weight: bold;
}
.red p {
  color: #f00;
}

.green p {
  color: #0f0;
}

.blue p {
  color: #00f;
}

.slider {
  margin-left: 8px;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

#red {
  background-color: rgba(255, 0, 0, 0.7);
}

#red::-webkit-slider-thumb {
  background-color: #f00;
}

#blue {
  background-color: rgba(0, 0, 255, 0.7);
}

#blue::-webkit-slider-thumb {
  background: #00f;
}

#green {
  background-color: rgba(0, 255, 0, 0.7);
}

#green::-webkit-slider-thumb {
  background-color: #0f0;
}

.slider:hover {
  opacity: 1;
}

input[id='redText'],
input[id='greenText'],
input[id='blueText'] {
  width: 100px;
  height: 40px;
  margin-left: 16px;
  font-size: 20px;
  text-align: center;

  border-radius: 8px;
  background-color: #ccc;
}
